.company-grid-card {
    background-color: initial;
}

.company-card-item {
    width: 32%;
    margin: 5px;
    padding: unset;
    border: 1px solid #D8D8D8;
    text-align: center;
    background-color: white;
    transition: box-shadow .3s;
    text-decoration: none;

    &:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        a {
            color: black;
        }
    }

    .company-name {
        font-size: 20px;
        font-weight: 500;
    }
}

.ant-card-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}