.job {
    padding-right: 3px;

}

.jobDetail-component {
    padding: 0 50px;
}

.job-detail-header {
    position: sticky;
    top: 65px;
}

.company-component {
    background-color: white;
    margin-left: 5px;
    padding: 20px;
    position: sticky;
    top: 65px;

    .company-header {
        align-items: center;

        .company-name {
            font-size: xx-large;
            font-weight: bold;
        }

        .company-description {
            font-size: 14px;
        }
    }

}