.stars-items-distribution {
    background-color: #fff1e1;
}

.company-review-ratings {
    color: #1890ff;
}

.star-item {
    padding: 10px;

}

.star-item.active {
    background-color: #fff1e1;
}

.stars-items-distribution {
    text-align: center;

    .title-chart {
        color: #1890ff;
    }

    .distribution-star {
        height: 90%;
        width: 90%;
        background-color: white;
        margin: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}