.login-view {
    background-color: white;
    border: 1px solid #d3d3d3;
    padding: 50px;

    .login-col {
        text-align: center;
    }

    .login-body {
        align-items: center;
        display: flex;
        justify-content: center;
        // flex-direction: column;
    }
}

.google-btn {
    cursor: pointer;
    width: 184px;
    height: 42px;
    background-color: #4285f4;
    border-radius: 4px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .25);

    .google-icon-wrapper {
        position: absolute;
        margin-top: 1px;
        margin-left: 1px;
        width: 40px;
        height: 40px;
        border-radius: 4px;
        background-color: white;
    }

    .google-icon {
        position: absolute;
        margin-top: 11px;
        margin-left: -9px;
        width: 18px;
        height: 18px;
    }

    .btn-text {
        float: right;
        margin: 11px 11px 0 0;
        color: white;
        font-size: 14px;
        letter-spacing: 0.2px;
        font-family: "Roboto";
    }

    &:hover {
        box-shadow: 0 0 6px #4285f4;
    }

    &:active {
        background: #1669F2;
    }
}

@import url(https://fonts.googleapis.com/css?family=Roboto:500);

.btn-google,
.btn-fb {

    display: inline-block;
    border-radius: 4px;
    text-decoration: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
    transition: background-color .218s, border-color .218s, box-shadow .218s;

    .google-content,
    .fb-content {
        display: flex;
        align-items: center;
        width: 300px;
        height: 42px;
        align-items: flex-end;
    }

    .logo {
        padding: 12px;
    }

    svg {
        width: 18px;
        height: 18px;
    }

    p {
        width: 100%;
        line-height: 1;
        letter-spacing: .2px;
        text-align: center;
        font-weight: 700;
        font-family: 'Roboto';
    }
}

.btn-google {
    background: #FFF;

    &:hover {
        box-shadow: 0 0 3px 3px rgba(66, 133, 244, .3)
    }

    &:active {
        background-color: #eee
    }

    .google-content p {
        color: #757575;
    }
}

.btn-fb {
    padding-top: 1.5px;
    background: #4267b2;

    &:hover {
        box-shadow: 0 0 3px 3px rgba(#3b5998, .3);
    }

    &:active {
        background-color: #3b5998;
    }

    .fb-content p {
        color: rgba(white, .87);
    }
}